<server description="Sample Liberty server">

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>mpHealth-2.0</feature>
    <feature>mpConfig-1.3</feature>
  </featureManager>

  <httpEndpoint httpPort="8082" id="defaultHttpEndpoint" host="*" />

  <webApplication location="barista-http-1.0-SNAPSHOT.war" contextRoot="/">

  </webApplication>

</server>
