<server description="Sample Liberty server">

  <featureManager>
    <feature>mpHealth-2.0</feature>
    <feature>mpReactiveMessaging-1.0</feature>
    <feature>jsonb-1.0</feature>

  </featureManager>

  <httpEndpoint httpPort="8090" id="defaultHttpEndpoint" host="*" />

  <webApplication location="barista-kafka-1.0-SNAPSHOT.war" contextRoot="/">

  </webApplication>


<logging traceSpecification="REACTIVEMESSAGE=all:org.apache.kafka.*=all:me.escoffier.quarkus.coffeeshop.*=all"/>
</server>
