<server description="Sample Liberty server">

  <featureManager>
    <feature>microProfile-3.0</feature>
    <feature>mpReactiveMessaging-1.0</feature>
    <feature>mpReactiveStreams-1.0</feature>
  </featureManager>

  <httpEndpoint httpPort="8080" id="defaultHttpEndpoint" host="*" />

  <webApplication location="coffeeshop-service-1.0-SNAPSHOT.war" contextRoot="/">

  </webApplication>

</server>
